<div class="presentation-view pt-4 row" [ngSwitch]="ps.presentation.presentationState">

  <div class="slides col m-2" *ngSwitchCase="PresentationState.Slides">
    <img src="data:image/png;base64,{{ps.presentation.imagePresentation[ps.presentation.currentSlideNumber]}}"
         alt="There is a problem in showing this slide."
         class="img-fluid"
    />
  </div>
  <div class="text col" *ngSwitchCase="PresentationState.Text" [ngSwitch]="ps.presentation.textState">
    <div class="m-2">
      <div *ngSwitchCase="TextState.Html"
           [innerHTML]="sanitizer.sanitize(SecurityContext.HTML, ps.presentation.text)"></div>
      <div *ngSwitchCase="TextState.Markdown"
           [innerHTML]="sanitizer.sanitize(SecurityContext.HTML, remarker.render(ps.presentation.text))"></div>
      <samp *ngSwitchCase="TextState.Monospace" style="white-space: pre-line;">
        {{ps.presentation.text}}
      </samp>
      <p *ngSwitchCase="TextState.Paragraphs" style="white-space: pre-line;">
        {{ps.presentation.text}}
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr />
  </div>
</div>
