<div class="row">
  <div class="col">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" data-toggle="tab tooltip" aria-controls="one" role="tab" (click)="selectedTab = 'all'"
           [class.active]="selectedTab === 'all'" title="All Presentations in the Database">All presentations</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" data-toggle="tab tooltip" aria-controls="one" role="tab" (click)="selectedTab = 'current'"
           [class.active]="selectedTab === 'current'" title="Presentations currently running">Currently active</a>
      </li>
    </ul>
  </div>
</div>

<div class="tab-content">
  <div *ngIf="selectedTab === 'all'" class="tab-pane container active" id="all" role="tabpanel">
    <app-db-presentations-list></app-db-presentations-list>
  </div>
  <div *ngIf="selectedTab === 'current'" class="tab-pane container active" id="current" role="tabpanel">
    <app-current-presentations-list></app-current-presentations-list>
  </div>
</div>
