<div class="row" *ngIf="loading">
  <div class="col">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<div class="row" *ngIf="failure">
  <div class="col">
    <div class="alert alert-danger" role="alert">
      {{failureMessage}}
    </div>
  </div>
</div>
<div *ngIf="!(loading || failure)">
  <div *ngFor="let presentation of presentations" class="card row" (click)="selectedPresentation = presentation">
    <div class="card-header">
      <p>Name: {{presentation.name}}</p>
      <p>made by {{presentation.ownerName}}</p>
    </div>
    <div class="card-body">
      <p style="font-weight: bold">Title: {{presentation.title}}</p>
    </div>
    <div class="card-footer collapse" [class.show]="selectedPresentation === presentation">
      <button class="btn btn-primary" (click)="viewPresentation(presentation)">View</button>
    </div>
  </div>
  <div class="row my-4" *ngIf="!loading">
    <div class="col">
      <button class="btn btn-warning" (click)="getPresentations()">Reload</button>
    </div>
  </div>
</div>
